html,
body {
    height: 100%;
}

#btn-log {
    margin-right: 10px;
}

#a-sport {
    color: dodgerblue;
    font-weight: bold;
}

#a-live {
    font-weight: bold;
    color: white;
}

#a-esport {
    font-weight: bold;
    color: coral;
}

#navbar-color {
    background: black;
    border-style: none none solid none;
    border-width: 1px;
    border-color: white;
}

#nav-brand {
    color: white;
}

.form-signin {
    width: 100%;
    height: 87%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#footer-color {
    background: black;
    border-style: solid none none none;
    border-width: 1px;
    border-color: white;
}

#list-colors {
    background-color: #e5e5e5;
}

#values-list {
    margin-left: 4.5rem;
    color: #14213d;
    font-weight: bold;
}